@model IEnumerable<StarEnergi.Models.MasterSFEntity>

@{
    ViewBag.Title = "SF";
}

<h2>@ViewBag.Title</h2>

@(Html.Telerik().Grid<StarEnergi.Models.MasterSFEntity>()
        .TableHtmlAttributes(new { style = "width:695px" })
        .Name("SF")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })
        .ToolBar(commands => commands.Insert().ButtonType(GridButtonType.ImageAndText).ImageHtmlAttributes(new { style = "margin-left:0" }))
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("_SelectAjaxEditing", "MasterSF")
                .Insert("_InsertAjaxEditing", "MasterSF")
                .Update("_SaveAjaxEditing", "MasterSF")
                .Delete("_DeleteAjaxEditing", "MasterSF");
        })
        .Columns(columns =>
        {
            columns.Bound(o => o.sf_description).Title("Description");
            columns.Bound(o => o.sf_value).Title("Value");
            columns.Bound(o => o.sf_score).Title("Score");
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
            }).Width(80).Title("Commands");

        })
        .Pageable(p => p.PageSize(15))
        .Sortable()
        .Groupable()
        .Filterable()
        .Editable(editing => editing.Mode(GridEditMode.InLine))
        .Scrollable(c => c.Enabled(true))
        .Selectable()
) 