USE [star_energi_geo]
GO
/****** Object:  Table [dbo].[daily_log]    Script Date: 5/14/2013 8:40:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[daily_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [varchar](50) NULL,
	[grup] [varchar](50) NULL,
	[production_foreman] [varchar](255) NULL,
	[production_operator_1] [varchar](255) NULL,
	[production_operator_2] [varchar](255) NULL,
	[production_operator_3] [varchar](255) NULL,
	[production_operator_4] [varchar](255) NULL,
	[production_operator_5] [varchar](255) NULL,
	[production_operator_6] [varchar](255) NULL,
	[production_operator_7] [varchar](255) NULL,
	[production_operator_8] [varchar](255) NULL,
	[time_check] [varchar](255) NULL,
	[wma_2_is_text] [tinyint] NULL,
	[wma_2_fcv] [varchar](255) NULL,
	[wma_2_flow] [varchar](255) NULL,
	[wma_2_whp] [varchar](255) NULL,
	[wma_4_is_text] [tinyint] NULL,
	[wma_4_fcv] [varchar](255) NULL,
	[wma_4_flow] [varchar](255) NULL,
	[wma_4_whp] [varchar](255) NULL,
	[wma_6_is_text] [tinyint] NULL,
	[wma_6_fcv] [varchar](255) NULL,
	[wma_6_flow] [varchar](255) NULL,
	[wma_6_whp] [varchar](255) NULL,
	[mbd_1_is_text] [tinyint] NULL,
	[mbd_1_fcv] [varchar](255) NULL,
	[mbd_1_flow] [varchar](255) NULL,
	[mbd_1_whp] [varchar](255) NULL,
	[mbd_2_is_text] [tinyint] NULL,
	[mbd_2_fcv] [varchar](255) NULL,
	[mbd_2_flow] [varchar](255) NULL,
	[mbd_2_whp] [varchar](255) NULL,
	[mbd_3_is_text] [tinyint] NULL,
	[mbd_3_fcv] [varchar](255) NULL,
	[mbd_3_flow] [varchar](255) NULL,
	[mbd_3_whp] [varchar](255) NULL,
	[mbd_4_is_text] [tinyint] NULL,
	[mbd_4_fcv] [varchar](255) NULL,
	[mbd_4_flow] [varchar](255) NULL,
	[mbd_4_whp] [varchar](255) NULL,
	[mbd_5_is_text] [tinyint] NULL,
	[mbd_5_fcv] [varchar](255) NULL,
	[mbd_5_flow] [varchar](255) NULL,
	[mbd_5_whp] [varchar](255) NULL,
	[wwq_1_is_text] [tinyint] NULL,
	[wwq_1_fcv] [varchar](255) NULL,
	[wwq_1_flow] [varchar](255) NULL,
	[wwq_1_whp] [varchar](255) NULL,
	[wwq_2_is_text] [tinyint] NULL,
	[wwq_2_fcv] [varchar](255) NULL,
	[wwq_2_flow] [varchar](255) NULL,
	[wwq_2_whp] [varchar](255) NULL,
	[wwq_3_is_text] [tinyint] NULL,
	[wwq_3_fcv] [varchar](255) NULL,
	[wwq_3_flow] [varchar](255) NULL,
	[wwq_3_whp] [varchar](255) NULL,
	[wwq_4_is_text] [tinyint] NULL,
	[wwq_4_fcv] [varchar](255) NULL,
	[wwq_4_flow] [varchar](255) NULL,
	[wwq_4_whp] [varchar](255) NULL,
	[wwq_5_is_text] [tinyint] NULL,
	[wwq_5_fcv] [varchar](255) NULL,
	[wwq_5_flow] [varchar](255) NULL,
	[wwq_5_whp] [varchar](255) NULL,
	[mbe_3_is_text] [tinyint] NULL,
	[mbe_3_fcv] [varchar](255) NULL,
	[mbe_3_flow] [varchar](255) NULL,
	[mbe_3_whp] [varchar](255) NULL,
	[mbe_4_is_text] [tinyint] NULL,
	[mbe_4_fcv] [varchar](255) NULL,
	[mbe_4_flow] [varchar](255) NULL,
	[mbe_4_whp] [varchar](255) NULL,
	[mba_1_is_text] [tinyint] NULL,
	[mba_1_fcv] [varchar](255) NULL,
	[mba_1_flow] [varchar](255) NULL,
	[mba_1_whp] [varchar](255) NULL,
	[mba_2_is_text] [tinyint] NULL,
	[mba_2_fcv] [varchar](255) NULL,
	[mba_2_flow] [varchar](255) NULL,
	[mba_2_whp] [varchar](255) NULL,
	[mba_3_is_text] [tinyint] NULL,
	[mba_3_fcv] [varchar](255) NULL,
	[mba_3_flow] [varchar](255) NULL,
	[mba_3_whp] [varchar](255) NULL,
	[mba_4_is_text] [tinyint] NULL,
	[mba_4_fcv] [varchar](255) NULL,
	[mba_4_flow] [varchar](255) NULL,
	[mba_4_whp] [varchar](255) NULL,
	[mba_5_is_text] [tinyint] NULL,
	[mba_5_fcv] [varchar](255) NULL,
	[mba_5_flow] [varchar](255) NULL,
	[mba_5_whp] [varchar](255) NULL,
	[mbb_1_is_text] [tinyint] NULL,
	[mbb_1_fcv] [varchar](255) NULL,
	[mbb_1_flow] [varchar](255) NULL,
	[mbb_1_whp] [varchar](255) NULL,
	[mbb_2_is_text] [tinyint] NULL,
	[mbb_2_fcv] [varchar](255) NULL,
	[mbb_2_flow] [varchar](255) NULL,
	[mbb_2_whp] [varchar](255) NULL,
	[mbb_3_is_text] [tinyint] NULL,
	[mbb_3_fcv] [varchar](255) NULL,
	[mbb_3_flow] [varchar](255) NULL,
	[mbb_3_whp] [varchar](255) NULL,
	[mbb_4_is_text] [tinyint] NULL,
	[mbb_4_fcv] [varchar](255) NULL,
	[mbb_4_flow] [varchar](255) NULL,
	[mbb_4_whp] [varchar](255) NULL,
	[mbb_5_is_text] [tinyint] NULL,
	[mbb_5_fcv] [varchar](255) NULL,
	[mbb_5_flow] [varchar](255) NULL,
	[mbb_5_whp] [varchar](255) NULL,
	[mbb_6_is_text] [tinyint] NULL,
	[mbb_6_fcv] [varchar](255) NULL,
	[mbb_6_flow] [varchar](255) NULL,
	[mbb_6_whp] [varchar](255) NULL,
	[wwf_1_is_text] [tinyint] NULL,
	[wwf_1_fcv] [varchar](255) NULL,
	[wwf_1_flow] [varchar](255) NULL,
	[wwf_1_whp] [varchar](255) NULL,
	[wwf_3_is_text] [tinyint] NULL,
	[wwf_3_fcv] [varchar](255) NULL,
	[wwf_3_flow] [varchar](255) NULL,
	[wwf_3_whp] [varchar](255) NULL,
	[www_1_is_text] [tinyint] NULL,
	[www_1_fcv] [varchar](255) NULL,
	[www_1_flow] [varchar](255) NULL,
	[www_1_whp] [varchar](255) NULL,
	[wwp_1_is_text] [tinyint] NULL,
	[wwp_1_fcv] [varchar](255) NULL,
	[wwp_1_flow] [varchar](255) NULL,
	[wwp_1_whp] [varchar](255) NULL,
	[generator_output_1] [varchar](255) NULL,
	[gross_1] [varchar](255) NULL,
	[generator_output_counter_1] [varchar](255) NULL,
	[power_factor_1] [varchar](255) NULL,
	[tap_charger_1] [varchar](255) NULL,
	[pln_grid_voltage_1] [varchar](255) NULL,
	[valve_limiter_1] [varchar](255) NULL,
	[governor_output_1] [varchar](255) NULL,
	[wcp_counter_1] [varchar](255) NULL,
	[condenser_pressure_1] [varchar](255) NULL,
	[main_cw_flow_1] [varchar](255) NULL,
	[ppc_g_co_1] [varchar](255) NULL,
	[interface_pressure_1] [varchar](255) NULL,
	[vent_bias_1] [varchar](255) NULL,
	[main_cw_pressure_1] [varchar](255) NULL,
	[ct_basin_ph_1] [varchar](255) NULL,
	[condenser_cw_inlet_a_1] [varchar](255) NULL,
	[condenser_cw_inlet_b_1] [varchar](255) NULL,
	[gen_trans_winding_temp_1] [varchar](255) NULL,
	[unit_trans_winding_temp_1] [varchar](255) NULL,
	[wheel_case_pressure_1] [varchar](255) NULL,
	[generator_output_2] [varchar](255) NULL,
	[gross_2] [varchar](255) NULL,
	[generator_output_counter_2] [varchar](255) NULL,
	[power_factor_2] [varchar](255) NULL,
	[tap_charger_2] [varchar](255) NULL,
	[pln_grid_voltage_2] [varchar](255) NULL,
	[valve_limiter_2] [varchar](255) NULL,
	[governor_output_2] [varchar](255) NULL,
	[wcp_counter_2] [varchar](255) NULL,
	[condenser_pressure_2] [varchar](255) NULL,
	[main_cw_flow_2] [varchar](255) NULL,
	[ppc_g_co_2] [varchar](255) NULL,
	[interface_pressure_2] [varchar](255) NULL,
	[vent_bias_2] [varchar](255) NULL,
	[main_cw_pressure_2] [varchar](255) NULL,
	[ct_basin_ph_2] [varchar](255) NULL,
	[condenser_cw_inlet_a_2] [varchar](255) NULL,
	[condenser_cw_inlet_b_2] [varchar](255) NULL,
	[gen_trans_winding_temp_2] [varchar](255) NULL,
	[unit_trans_winding_temp_2] [varchar](255) NULL,
	[wheel_case_pressure_2] [varchar](255) NULL,
	[ncg_1] [varchar](255) NULL,
	[ncg_2] [varchar](255) NULL,
	[turbine_1] [varchar](255) NULL,
	[turbine_2] [varchar](255) NULL,
	[ct_temp_1] [varchar](255) NULL,
	[ct_temp_2] [varchar](255) NULL,
	[exhaust_1] [varchar](255) NULL,
	[exhaust_2] [varchar](255) NULL,
	[upper_tp_level] [varchar](255) NULL,
	[lower_tp_level] [varchar](255) NULL,
	[mv_333] [varchar](255) NULL,
	[mv_334] [varchar](255) NULL,
	[brine_level] [varchar](255) NULL,
	[condensate_level] [varchar](255) NULL,
	[naoh_level] [varchar](255) NULL,
	[wwd_pond_level] [varchar](255) NULL,
	[uti_active_1] [varchar](255) NULL,
	[uti_reactive_1] [varchar](255) NULL,
	[sc_main_1] [varchar](255) NULL,
	[sc_auxiliary_1] [varchar](255) NULL,
	[ge_active_1] [varchar](255) NULL,
	[ge_reactive_1] [varchar](255) NULL,
	[metering_segwwl_1] [varchar](255) NULL,
	[metering_pln_1] [varchar](255) NULL,
	[condensate_ps_1] [varchar](255) NULL,
	[segwwl_availability_1] [varchar](255) NULL,
	[pln_dispatch_1] [varchar](255) NULL,
	[pln_meter_1] [varchar](255) NULL,
	[segwwl_export_1] [varchar](255) NULL,
	[actual_export_1] [varchar](255) NULL,
	[production_excess_1] [varchar](255) NULL,
	[rpf_1] [varchar](255) NULL,
	[pgf_1] [varchar](255) NULL,
	[pln_1] [varchar](255) NULL,
	[uti_active_2] [varchar](255) NULL,
	[uti_reactive_2] [varchar](255) NULL,
	[sc_main_2] [varchar](255) NULL,
	[sc_auxiliary_2] [varchar](255) NULL,
	[ge_active_2] [varchar](255) NULL,
	[ge_reactive_2] [varchar](255) NULL,
	[metering_segwwl_2] [varchar](255) NULL,
	[metering_pln_2] [varchar](255) NULL,
	[condensate_ps_2] [varchar](255) NULL,
	[segwwl_availability_2] [varchar](255) NULL,
	[pln_dispatch_2] [varchar](255) NULL,
	[pln_meter_2] [varchar](255) NULL,
	[segwwl_export_2] [varchar](255) NULL,
	[actual_export_2] [varchar](255) NULL,
	[production_excess_2] [varchar](255) NULL,
	[rpf_2] [varchar](255) NULL,
	[pgf_2] [varchar](255) NULL,
	[pln_2] [varchar](255) NULL,
	[condensate_total] [varchar](255) NULL,
	[brine_total] [varchar](255) NULL,
	[note] [varchar](255) NULL,
	[last_plant_time] [varchar](255) NULL,
	[user_shift] [varchar](255) NULL,
	[shift] [tinyint] NULL,
	[is_approve] [tinyint] NULL,
	[id_shift2] [int] NULL,
 CONSTRAINT [PK_daily_log] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[incident_report]    Script Date: 5/14/2013 8:40:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[incident_report](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[facility] [varchar](255) NULL,
	[incident_location] [varchar](255) NULL,
	[reference_number] [varchar](255) NULL,
	[type_of_report] [tinyint] NULL,
	[date_incident] [datetime] NULL,
	[title] [varchar](255) NULL,
	[incident_type] [varchar](255) NULL,
	[actual_loss_severity] [tinyint] NULL,
	[potential_loss_severity] [tinyint] NULL,
	[probability] [tinyint] NULL,
	[factual_information] [text] NULL,
	[cost_estimate] [text] NULL,
	[immediate_action] [text] NULL,
	[prepared_by] [varchar](255) NULL,
	[ack_supervisor] [varchar](255) NULL,
	[prepare_date] [date] NULL,
	[ack_date] [date] NULL,
	[superintendent] [varchar](255) NULL,
	[loss_control] [varchar](255) NULL,
	[field_manager] [varchar](255) NULL,
	[doms] [varchar](255) NULL,
	[superintendent_date] [date] NULL,
	[loss_date] [date] NULL,
	[field_manager_date] [date] NULL,
	[doms_date] [date] NULL,
	[investigation] [tinyint] NULL,
	[investigation_req] [varchar](255) NULL,
	[id_iir] [int] NULL,
	[superintendent_approve] [varchar](255) NULL,
	[field_manager_approve] [varchar](255) NULL,
	[loss_control_approve] [varchar](255) NULL,
	[lead_name] [varchar](255) NULL,
 CONSTRAINT [PK_incident_report] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[she_observation]    Script Date: 5/14/2013 8:40:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[she_observation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[she_obs] [tinyint] NULL,
	[she_ins] [tinyint] NULL,
	[accident_unsafe] [varchar](2) NULL,
	[accident_safe] [varchar](2) NULL,
	[fire_unsafe] [varchar](2) NULL,
	[fire_safe] [varchar](2) NULL,
	[prevention_unsafe] [varchar](2) NULL,
	[prevention_safe] [varchar](2) NULL,
	[supervisor_unsafe] [varchar](2) NULL,
	[supervisor_safe] [varchar](2) NULL,
	[fit_work_unsafe] [varchar](2) NULL,
	[fit_work_safe] [varchar](2) NULL,
	[psychological_unsafe] [varchar](2) NULL,
	[psychological_safe] [varchar](2) NULL,
	[posture_unsafe] [varchar](2) NULL,
	[posture_safe] [varchar](2) NULL,
	[substance_unsafe] [varchar](2) NULL,
	[substance_safe] [varchar](2) NULL,
	[hygiene_unsafe] [varchar](2) NULL,
	[hygiene_safe] [varchar](2) NULL,
	[house_unsafe] [varchar](2) NULL,
	[house_safe] [varchar](2) NULL,
	[standard_unsafe] [varchar](2) NULL,
	[standard_safe] [varchar](2) NULL,
	[spill_unsafe] [varchar](2) NULL,
	[spill_safe] [varchar](2) NULL,
	[waste_energy_unsafe] [varchar](2) NULL,
	[waste_energy_safe] [varchar](2) NULL,
	[containment_unsafe] [varchar](2) NULL,
	[containment_safe] [varchar](2) NULL,
	[absorbent_unsafe] [varchar](2) NULL,
	[absorbent_safe] [varchar](2) NULL,
	[hira_unsafe] [varchar](2) NULL,
	[hira_safe] [varchar](2) NULL,
	[ptw_unsafe] [varchar](2) NULL,
	[ptw_safe] [varchar](2) NULL,
	[sop_unsafe] [varchar](2) NULL,
	[sop_safe] [varchar](2) NULL,
	[msds_unsafe] [varchar](2) NULL,
	[msds_safe] [varchar](2) NULL,
	[emergency_unsafe] [varchar](2) NULL,
	[emergency_safe] [varchar](2) NULL,
	[certificates_unsafe] [varchar](2) NULL,
	[certificates_safe] [varchar](2) NULL,
	[ppe_unsafe] [varchar](2) NULL,
	[ppe_safe] [varchar](2) NULL,
	[hand_unsafe] [varchar](2) NULL,
	[hand_safe] [varchar](2) NULL,
	[mechanical_unsafe] [varchar](2) NULL,
	[mechanical_safe] [varchar](2) NULL,
	[electrical_unsafe] [varchar](2) NULL,
	[electrical_safe] [varchar](2) NULL,
	[vehicular_unsafe] [varchar](2) NULL,
	[vehicular_safe] [varchar](2) NULL,
	[substandard_unsafe] [varchar](2) NULL,
	[substandard_safe] [varchar](2) NULL,
	[h2s_unsafe] [varchar](2) NULL,
	[h2s_safe] [varchar](2) NULL,
	[workplace_health_unsafe] [varchar](2) NULL,
	[workplace_health_safe] [varchar](2) NULL,
	[date_time] [datetime] NULL,
	[observer] [varchar](255) NULL,
	[department] [varchar](255) NULL,
	[location] [varchar](255) NULL,
	[activity] [varchar](255) NULL,
	[safe_observed] [tinyint] NULL,
	[action_encourages] [tinyint] NULL,
	[action_encourage] [text] NULL,
	[unsafe_observed] [tinyint] NULL,
	[immediate_corrective_act] [tinyint] NULL,
	[action_prevents] [tinyint] NULL,
	[action_prevent] [text] NULL,
	[accident_risk] [varchar](3) NULL,
	[fire_risk] [varchar](3) NULL,
	[prevention_risk] [varchar](3) NULL,
	[supervisor_risk] [varchar](3) NULL,
	[fit_work_risk] [varchar](3) NULL,
	[psychological_risk] [varchar](3) NULL,
	[posture_risk] [varchar](3) NULL,
	[substance_risk] [varchar](3) NULL,
	[hygiene_risk] [varchar](3) NULL,
	[house_risk] [varchar](3) NULL,
	[standard_risk] [varchar](3) NULL,
	[spill_risk] [varchar](3) NULL,
	[waste_energy_risk] [varchar](3) NULL,
	[containment_risk] [varchar](3) NULL,
	[absorbent_risk] [varchar](3) NULL,
	[hira_risk] [varchar](3) NULL,
	[ptw_risk] [varchar](3) NULL,
	[sop_risk] [varchar](3) NULL,
	[msds_risk] [varchar](3) NULL,
	[emergency_risk] [varchar](3) NULL,
	[certificates_risk] [varchar](3) NULL,
	[ppe_risk] [varchar](3) NULL,
	[hand_risk] [varchar](3) NULL,
	[mechanical_risk] [varchar](3) NULL,
	[electrical_risk] [varchar](3) NULL,
	[vehicular_risk] [varchar](3) NULL,
	[substandard_risk] [varchar](3) NULL,
	[h2s_risk] [varchar](3) NULL,
	[workplace_health_risk] [varchar](3) NULL,
	[safe_observeds] [text] NULL,
	[unsafe_observeds] [text] NULL,
	[immediate_corrective_acts] [text] NULL,
 CONSTRAINT [PK_she_observation] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[daily_log] ON 

SET IDENTITY_INSERT [dbo].[daily_log] OFF
SET IDENTITY_INSERT [dbo].[incident_report] ON 

SET IDENTITY_INSERT [dbo].[incident_report] OFF
SET IDENTITY_INSERT [dbo].[she_observation] ON 

SET IDENTITY_INSERT [dbo].[she_observation] OFF
