@using StarEnergi
@model IEnumerable<StarEnergi.Models.plant>
@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>
@Html.Partial("_TreeNavigationFrontEnd")
<div id="content" style="float:left;">

</div>