@{
    ViewBag.Title = "Injury Report";
    //List<StarEnergi.Models.user_per_role> li = null;
    //if (ViewData["user_role"] != null)
    //{
    //    li = ViewData["user_role"] as List<StarEnergi.Models.user_per_role>;
    //}
}
<script type="text/javascript">

    function addInjuryReport() {
        $('#contentEventLog').load('HseInjuryReport/AddInjuryReport');
    }

    function showInjuryReport() {
        $('#InjuryReport').load('HseInjuryReport/Report');
    }

    $(document).ready(function () {
        showInjuryReport();
    });

</script>
<div id="contentEventLog">
<h2 class="adminH2">Injury Report</h2>

<div>
    <input type="button" id="addIllnessReport" value="Add Injury Report" onclick="addInjuryReport()"/>
</div>
<br/>
<div id="InjuryReport">
</div>
<br />
</div>