@model IEnumerable<StarEnergi.Models.build_of_material>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Build Of Material</h2>    
    @(Html.Telerik().Grid<StarEnergi.Models.BomEntity>()
        .TableHtmlAttributes(new { style = "width:695px" })
        .Name("BOM")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })
        .ToolBar(commands => commands.Insert().ButtonType(GridButtonType.ImageAndText).ImageHtmlAttributes(new { style = "margin-left:0" }))
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("_SelectGridEditing", "BuildOfMaterial")
                .Insert("_InsertGridEditing", "BuildOfMaterial")
                .Update("_SaveGridEditing", "BuildOfMaterial")
                .Delete("_DeleteGridEditing", "BuildOfMaterial");
        })
        .Columns(columns =>
        {
            columns.Bound(o => o.id).Hidden();
            columns.Bound(o => o.is_delete).Hidden();
            columns.Bound(o => o.no_keymap).Width(200).Title("No Key Map");
            columns.Bound(o => o.functional_location).Width(250).Title("Functional Location");
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
            }).Width(80).Title("Commands");

        })        
        //.ClientEvents(events => events.OnCommand("Grid_onCommand"))
        .Pageable(p => p.PageSize(10))
        .Sortable()
        .Groupable()
        .Filterable()
        .Editable(editing => editing.Mode(GridEditMode.InLine))
        .Scrollable(c => c.Enabled(true))
        .Selectable()
    )

    <script type="text/javascript">        
    </script>
