
<script type="text/javascript">
    function onSelectPanel(e) {
        var item = $(e.item);
        var type = (item.find('> .t-link').text()).split(" ").join("_");

        $("#BRcontent").load("Help/HelpContent?type=" + type);

    }
</script>
<div id="nav" style="float:left;">
<h2 class="adminH2">Help Section</h2>
@(Html.Telerik().PanelBar()
        .Name("PanelBar")
        .HtmlAttributes(new { style = "width: 175px; margin-bottom: 30px;clear: both;margin-left: 10px;" })
        .ClientEvents(eventsPanel => eventsPanel
              .OnSelect("onSelectPanel")
        )
        .Items(panelBarItem =>
        {
            panelBarItem.Add().Text("FRACAS").Items(panelBarItem2 =>
            {
                panelBarItem2.Add().Text("Fracas Event Log");
                panelBarItem2.Add().Text("Historical Data");
            });
            panelBarItem.Add().Text("SHE").Items(panelBarItem2=>{
                panelBarItem2.Add().Text("Incident Report");
                panelBarItem2.Add().Text("Incident Investigation Report");
                panelBarItem2.Add().Text("Injury Report");
                panelBarItem2.Add().Text("Audit");
                panelBarItem2.Add().Text("Observation Form");
            });
            panelBarItem.Add().Text("Daily Log");
            panelBarItem.Add().Text("Equipt. Report");
            panelBarItem.Add().Text("Asset Register");
            panelBarItem.Add().Text("RCA");
            panelBarItem.Add().Text("PIR");          
        })
)
</div>
<div id="BRcontent" style="float:left;padding:0px 20px;width:740px;">
    
</div>