@{
    ViewBag.Title = "Incident Report";
    List<StarEnergi.Models.user_per_role> li = null;
    if (ViewData["user_role"] != null)
    {
        li = ViewData["user_role"] as List<StarEnergi.Models.user_per_role>;
    }
}
<script type="text/javascript">

    function addEvent() {
        $('#contentEventLog').load('Incident/AddIncident');
    }

    function showIncidentReport() {
        $('#incidentReport').load('Incident/Report');
    }

    $(document).ready(function () {
        showIncidentReport();
    });


    function showDateChooser() {
        var detailWindow = $("#ExportReport").data("tWindow");
        $('#type').val('0');
        detailWindow.center().open();
    }

    function showDateChooserData() {
        var detailWindow = $("#ExportReport").data("tWindow");
        $('#type').val('1');
        detailWindow.center().open();
    }

    function exportReport() {
        var detailWindow = $("#ExportReport").data("tWindow");
        detailWindow.close();
        var from = $('#date_from').val();
        var to = $('#date_to').val();
        if ($('#type').val() == 0) {
            window.location='/Incident/ExportExcelTotal?from=' + from + '&to=' + to;
        } else {
            window.location='/Incident/ExportExcelData?fromD=' + from + '&toD=' + to;
        }
    }
</script>
<div id="contentEventLog">
    <h2 class="adminH2">Incident Report</h2>
    
    <div>
        @if (li.Exists(p => p.role == (int)StarEnergi.Config.role.INITIATORIR))
        {
        <input type="button" id="addEvent" value="Add Incident Report" onclick="addEvent()"/>
        }
        @if (li.Exists(p => p.role == (int)StarEnergi.Config.role.ADMINMASTERSHE))
        {
        <input type="button" id="exportExcel" value="Export Report" onclick="showDateChooser()"/>
        <input type="button" id="exportData" value="Export Data" onclick="showDateChooserData()"/>
        }
    </div>
    <br/>
    <div id="incidentReport">
    </div>

    <br />
    <hr />
    @using (Html.BeginForm("Index", "LoadExcel", FormMethod.Post, new { enctype = "multipart/form-data", name = "formUpload", target = "upload_target" }))
    {
    	     <p class="title">Import Incident Report Data From Excel</p>
		 	 
		     <div class="info_inside_left">Excel File (.xls) :</div> 
		     <input type="text" id="fileName" class="file_input_textbox" readonly="readonly" />
		     <div class="file_input_div" style="width:200px">
			    <input type="button" value="Browse" class="file_input_button" style="width: 75px;" />
			    <input type="file" class="file_input_hidden" name="userfile" onchange="javascript: document.getElementById('fileName').value = this.value" />
		     </div>
		     <br />
		     <input type="button" value="Upload" onclick="javascript:if(document.formUpload.userfile.value.length==0) { alert('You must specify a file first'); return; }; submit();" />
		     <input type="button" value="Download template" onclick="window.location = 'LoadExcel/template?file=@StarEnergi.Config.fileIR'" />
    }
    <br/>
    <iframe id="upload_target" name="upload_target" src="" width="980" height="350" style="border:0px solid #fff;"></iframe>
</div>


@*@(Html.Telerik().Window()
    .Name("ExportReport")
    .Visible(false)
    .Title("Export Report")
    .Modal(true)
    .Width(400)
    .Content(@<text>
               <div class="info">

                   <input type="hidden" id="type" />
                    <div class="info_inside_left">From</div>
		            <div class="infoFieldinput">
                        @(Html.Telerik().DatePicker()
                            .Name("date_from")
                            .HtmlAttributes(new { id = "datetime_wrapper", style = "width:100px" })
                            .Value(DateTime.Today)
                        )
                    </div>
                   <div class="info_inside_left">To</div>
		            <div class="infoFieldinput">
                        @(Html.Telerik().DatePicker()
                            .Name("date_to")
                            .HtmlAttributes(new { id = "datetime_wrapper", style = "width:100px" })
                            .Value(DateTime.Today)
                        )
                    </div>
	            <p class="submit">
		            <input name="Submit" value="Save" type="submit" onclick="exportReport();" />
	            </p>
	         </div>
        </text>)
)*@