@model StarEnergi.Models.unit

@{
    ViewBag.Title = "Details";
}
<script type="text/javascript">
    function edit() {
        $('#content').load('unit/edit/'+ @Model.id);
    }
</script>
<h2>Details</h2>

<fieldset>
    <legend>unit</legend>

    <div class="display-label">Nama</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nama)
    </div>

    <div class="display-label">MA</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ma)
    </div>

    <div class="display-label">MASD</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.masd)
    </div>
    <p>
        <input type="button" value="Edit" onclick="edit()" />
    </p>
</fieldset>
