@using (Html.BeginForm("Index", "LoadExcel", FormMethod.Post, new { enctype = "multipart/form-data", name = "formUpload", target = "upload_target" }))
{
    	 <p class="title">Import Master Data From Excel</p>
		 	 
		 <div class="info_inside_left">Excel File (.xls) :</div> 
		 <input type="text" id="fileName" class="file_input_textbox" readonly="readonly" />
		 <div class="file_input_div" style="width:200px">
			<input type="button" value="Browse" class="file_input_button" style="width: 75px;" />
			<input type="file" class="file_input_hidden" name="userfile" onchange="javascript: document.getElementById('fileName').value = this.value" />
		 </div>
		 <br />
		 <input type="button" value="Upload" onclick="javascript:if(document.formUpload.userfile.value.length==0) { alert('You must specify a file first'); return; }; submit();" />
		 <input type="button" value="Download template" onclick="window.location = 'LoadExcel/template?file=@StarEnergi.Config.fileExcelDataMaster'" />
}
<br />
<iframe id="upload_target" name="upload_target" src="" width="715" height="350" style="border:0px solid #fff;"></iframe>