@model IEnumerable<StarEnergi.Models.rca_section>

@{
    ViewBag.Title = "Index";
}

<h2>Section</h2>

@(Html.Telerik().Grid<StarEnergi.Models.rca_section>()
        .TableHtmlAttributes(new { style = "width:695px" })
        .Name("Section")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })
        .ToolBar(commands => commands.Insert().ButtonType(GridButtonType.ImageAndText).ImageHtmlAttributes(new { style = "margin-left:0" }))
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("_SelectAjaxEditing", "Section")
                .Insert("_InsertAjaxEditing", "Section")
                .Update("_SaveAjaxEditing", "Section")
                .Delete("_DeleteAjaxEditing", "Section");
        })
        .Columns(columns =>
        {
            columns.ForeignKey(o => o.id_department, (System.Collections.IEnumerable)ViewData["rca_division"],
                   "id", "name").Width(200).Title("Department Name");
            columns.Bound(o => o.name).Title("Section Name");
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
            }).Width(80).Title("Commands");

        })
        .Pageable(p => p.PageSize(15))
        .Sortable()
        .Groupable()
        .Filterable()
        .Editable(editing => editing.Mode(GridEditMode.InLine))
        .Scrollable(c => c.Enabled(true))
        .Selectable()
) 