@{
    ViewBag.Title = "SHE Audit";
    List<StarEnergi.Models.user_per_role> li = null;
    if (ViewData["user_role"] != null)
    {
        li = ViewData["user_role"] as List<StarEnergi.Models.user_per_role>;
    }
}
<script type="text/javascript">

    function addEvent() {
        $('#contentEventLog').load('HseAuditor/AddAudit');
    }

    function showHseAuditor() {
        $('#Auditor').load('HseAuditor/Report');
    }

    $(document).ready(function () {
        showHseAuditor();
    });

</script>
<div id="contentEventLog">
<h2 class="adminH2">SHE Audit</h2>

<div>
    <input type="button" id="addEvent" value="Add Audit" onclick="addEvent()"/>
</div>
<br/>
<div id="Auditor">
</div>

<br />