@model IEnumerable<StarEnergi.Models.safe_man_hours>
@{
    ViewBag.Title = "Safe Man Hours";
    //List<StarEnergi.Models.user_per_role> li = null;
    //if (ViewData["user_role"] != null)
    //{
    //    li = ViewData["user_role"] as List<StarEnergi.Models.user_per_role>;
    //}
}
<style>
    .t-grid .t-grid-header .t-header,
    .t-grid .t-grid-header .t-last-header {
        white-space: normal;
    }
</style>

@( 
 Html.Telerik().Grid<StarEnergi.Models.safe_man_hours>()
        .TableHtmlAttributes(new { style = "width:980px" }).HtmlAttributes(new { style = "width:980px" })
        .Name("SheSafeManHours")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("_SelectAjaxSheSafeManHours", "SheSafeManHours");
        })
        .Columns(columns =>
        {
            columns.Command(commands =>
            {
            }).Width(80).Title("Action").HtmlAttributes(new { style = "text-align: center" });
            columns.Bound(o => o.id).Hidden();
            columns.Bound(o => o.month).Width(200).Title("Periods").Format("{0:MMM / yyyy}");
            columns.Bound(o => o.mh_total_smh).Width(175).Title("Man Hours (Safe Man Hours)");
            columns.Bound(o => o.emp_total_smh).Width(175).Title("No of Employee (Safe Man Hours)");
            columns.Bound(o => o.mh_total_ytd).Width(175).Title("Man Hours (YTD)");
            columns.Bound(o => o.emp_total_ytd).Width(175).Title("No of Employee (YTD)");
            
        })
        .ClientEvents(
            events => events
                .OnRowDataBound("OnRowDataBoundEq")
        )
        .Pageable(p => p.PageSize(10))
        .Sortable()
        .Scrollable(c => c.Enabled(true))
        .Selectable()
        .Filterable()
        .Groupable()
)
<script type="text/javascript">
    function OnRowDataBoundEq(e) {
        var dataItem = e.dataItem;
        var row = e.row;
        var templateComplete = '<a class="t-button t-grid-fracasedit t-button-icon t-button-icon t-ajax" onClick="Edit(' + dataItem.id + ');" title="Edit Safe Man Hours" >'
                                + '<span class="t-icon t-edit"></span>'
                                + '</a>';

        var i = 0;
        for (var a in row.cells) {
            if (row.cells[a].className == "t-group-cell") {
                i++;
            }
        }
        row.cells[i].innerHTML = templateComplete;
    }

    function Edit(id) {
        $('#contentEventLog').load('SheSafeManHours/AddSheSafeManHours', { 'id': id });
    }

</script>
