@model IEnumerable<StarEnergi.Models.immediate_actions>

@{
    ViewBag.Title = "Index";
}

<h2>Immediate Cor Actions</h2>

@(Html.Telerik().Grid<StarEnergi.Models.immediate_actions>()
        .TableHtmlAttributes(new { style = "width:695px" })
        .Name("ImmediateCorrect")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })
        .ToolBar(commands => commands.Insert().ButtonType(GridButtonType.ImageAndText).ImageHtmlAttributes(new { style = "margin-left:0" }))
        .ToolBar(commands => commands
            .Custom()
            .HtmlAttributes(new { id = "importExcel" })
            .Text("Export")
            .Action("importExcel", "ImmediateCor")
        )
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("_SelectAjaxEditing", "ImmediateCor")
                .Insert("_InsertAjaxEditing", "ImmediateCor")
                .Update("_SaveAjaxEditing", "ImmediateCor")
                .Delete("_DeleteAjaxEditing", "ImmediateCor");
        })
        .Columns(columns =>
        {
            columns.Bound(o => o.action).Width(150).Title("Action");
            columns.Bound(o => o.description).Title("Description");
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
            }).Width(80).Title("Commands");

        })
        .Pageable(p => p.PageSize(15))
        .Sortable()
        .Groupable()
        .Filterable()
        .Editable(editing => editing.Mode(GridEditMode.InLine))
        .Scrollable(c => c.Enabled(true))
        .Selectable()
) 