@model StarEnergi.Models.foc

@{
    ViewBag.Title = "Details";
}
<script type="text/javascript">
    function edit() {
        $('#content').load('foc/edit/'+ @Model.id);
    }
</script>
<h2>Details</h2>

<fieldset>
    <legend>Area</legend>

    <div class="display-label">nama</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nama)
    </div>

    <!--<div class="display-label">plant</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.plant.nama)
    </div>-->
    <p>
        <!--@Html.ActionLink("Edit", "Edit", new { id=Model.id }) -->
        <input type="button" value="Edit" onclick="edit()" />
    </p>
</fieldset>

