@model IEnumerable<StarEnergi.Models.rca_csf>

@{
    ViewBag.Title = "Index";
}

<h2>Critical Success Factors</h2>

@(Html.Telerik().Grid<StarEnergi.Models.rca_csf>()
        .TableHtmlAttributes(new { style = "width:695px" })
        .Name("CSF")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })
        .ToolBar(commands => commands.Insert().ButtonType(GridButtonType.ImageAndText).ImageHtmlAttributes(new { style = "margin-left:0" }))
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("_SelectAjaxEditing", "CSF")
                .Insert("_InsertAjaxEditing", "CSF")
                .Update("_SaveAjaxEditing", "CSF")
                .Delete("_DeleteAjaxEditing", "CSF");
        })
        .Columns(columns =>
        {
            columns.Bound(o => o.name).Title("CSF Name");
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
            }).Width(80).Title("Commands");

        })
        .Pageable(p => p.PageSize(15))
        .Sortable()
        .Groupable()
        .Filterable()
        .Editable(editing => editing.Mode(GridEditMode.InLine))
        .Scrollable(c => c.Enabled(true))
        .Selectable()
) 