@model IEnumerable<StarEnergi.Models.PirClauseEntity>

@{
    ViewBag.Title = "Index";
}

<h2>PIR Clause</h2>

@(Html.Telerik().Grid<StarEnergi.Models.PirClauseEntity>()
        .TableHtmlAttributes(new { style = "width:695px" })
        .Name("PirClause")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })
        .ToolBar(commands => commands.Insert().ButtonType(GridButtonType.ImageAndText).ImageHtmlAttributes(new { style = "margin-left:0" }))
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("_SelectAjaxEditing", "PirClause")
                .Insert("_InsertAjaxEditing", "PirClause")
                .Update("_SaveAjaxEditing", "PirClause")
                .Delete("_DeleteAjaxEditing", "PirClause");
        })
        .Columns(columns =>
        {
            columns.Bound(o => o.clause_no).Width(150).Title("Clause No.");
            columns.Bound(o => o.clause).Title("Clause");
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
            }).Width(80).Title("Commands");

        })
        .Pageable(p => p.PageSize(15))
        .Sortable()
        .Groupable()
        .Filterable()
        .Editable(editing => editing.Mode(GridEditMode.InLine))
        .Scrollable(c => c.Enabled(true))
        .Selectable()
) 