@font-face {
    font-family: 'PT Sans';
    src: url(fonts/PT_Sans-Web-Regular.ttf) format('truetype');
    src: url(fonts/PT_Sans-Web-Regular.woff) format('woff');
}

@font-face {
    font-family: 'PT Sans';
    src: url(fonts/PT_Sans-Web-Bold.ttf) format('truetype');
    src: url(fonts/PT_Sans-Web-Bold.woff) format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(fonts/BebasNeue.ttf) format('truetype');
    src: url(fonts/BebasNeue.woff) format('woff');
}

/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
#body
{
    margin: 0;
	padding: 0;
	color: #696969;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #efefef url(image/new/bg-1.png) no-repeat;
    background-size: 100% auto;
	overflow-y: scroll;
}

header,
footer,
nav,
section 
{
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    /*padding: 0 0 20px 10px;*/
}

.adminH2
{
    padding: 0 0 10px 0;  
}

h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

a
{
    color: #696969;
}

li
{
    line-height: 1.6;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.clearfix{
    display: block;
}

#page
{
    height: auto;
    min-height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    position: absolute;
}

#adminHasLogin
{
    margin-left: 785px;
    position: absolute;
    margin-top: 6px; 
    font-size: 12px;
    padding-bottom: 5px;
    font-weight: bold;
	text-align:right;
}

#adminHasLogin2
{
    margin-left: 860px;
    position: absolute;
    margin-top: 6px; 
    font-size: 12px;
    padding-bottom: 5px;
    font-weight: bold;
	text-align:right;
}

#adminLogin
{
    margin-left: 950px;
    position: absolute;
    margin-top: 6px; 
    font-size: 12px;
    padding-bottom: 5px;
    font-weight: bold;
}

#adminLogin a:link, #adminLogin a:visited
{
    color: #000;
    text-decoration: none;
}

#adminLogin a:hover
{
    color: blue;
    text-decoration: underline;
}

#header
{
	/*height: 170px;*/
    overflow: hidden;
    /*background: #fff url(image/header-01.png) no-repeat top center;*/
    background: #fff;
    position: relative;
}

#header .wrap 
{
    width: 1000px;
    height: 100%;
    padding-right: 0px;
    margin-top: 0px;
    position: relative;
}

.wrap {
    width: 1000px;
    padding: 0;
    margin: 0 auto;
}

#header .additional {
    float: right;
    margin-top: 25px;
    position: relative;
    /*float: left;
    margin-top: 20px;
    position: absolute;
    clear: both;
    margin-left: 530px;*/
}

#header .additional img{
    /*height: 130px;*/
}

#header .logo 
{
    margin-top: 20px;
    float: left;
    /*padding: 30px 20px;*/
    padding: 10px 0;
    font-size: 200%;
    margin-left: 0px;
    position: relative;
}

#header .logo img{
    width: 155px;
}

header h1, #header h1
{
    padding: 5px 0;
    margin: 0;
    border: none;
    line-height: 2em;
    display:inline-block;
    font-size:24px;
    color: #58595B;
}

div#title
{
    display:block;
    text-align:left;
    /*margin-top: 40px;*/
    font-size:24px;
    font-family:'PT Sans';
    font-weight:bold;
    float: left;
    /*padding-left: 10px;*/
    position: relative;
}

.sub
{
    margin-top: -15px;
    margin-left: 20px;
    font-size:20px;
    font-weight:normal;
    color: black;
   /*font-weight: 600;*/
}

#main
{
    /*padding: 0 30px 15px 20px;
    margin-bottom: 30px;*/
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

footer, #footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

#listTarget
{
     margin: -15px 0 0 0;
     position: absolute;
}

/* MENU   
----------------------------------------------------------*/
#mainmenu 
{
    height: 100%;
    width: 100%;
    border-bottom: 1px #fff solid;
   /*background:  url('2012.1.214/Office2007/sprite.png') repeat-x 0 -850px;*/
    /*background: #91B0FF;*/
}

 #mainmenu .t-header
{
    background-color: transparent;
    color: #000;
}

#menu
{
    border: transparent;    
}

#menu, #dash
{
    position: static;
    padding: 0;
    text-align: left;
    clear:both;
    height: 100%;
    /*width: 19%;*/
    border-color: transparent;
}

#menu .t-item, #dash .t-item
{
    border-width: 0 0 0 1px;
    border-color: #fff;
    margin-right: -0.1em;
    margin-right: -0.15em \9;
    background-color: transparent;
}

#menu .t-link, #dash .t-link
{
    font-family: 'PT Sans';
    font-size: 14px;
    font-weight:normal;
    padding: 5px 11px;
    /*font-weight: bold;*/
    text-decoration: none;
    background-color: transparent;
    line-height: 1.8em;
    color: #fff;
}

#menu .t-item:last-child {
    border-width: 0 1px;
}

#menu .t-link:hover{font-weight:bold}
#dash .t-link{text-decoration: underline;}
#dash .t-link:hover{text-decoration: none;}

#menu .t-group {
    background-color:transparent;
    border: 1px solid #fff;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}

#menu .t-group .t-item {
    border-width: 1px 1px;
    background: #fff;
}

#menu .t-group .t-item > a {
    color:black;
}

#menu .t-group .t-item > .t-link {
    color:black;
}

#dash .t-item
{
    /*margin-left: 680px;*/
    border-left: none;  
} 


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
    color:#000;
    text-transform:capitalize;
    width: 659px;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
    text-transform:uppercase;
}

textarea 
{
    min-height: 75px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

.table 
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

.table td 
{
  padding: 5px;   
  border: solid 1px #e8eef4;
}

.table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#backD
{
    float: right;
    position:relative;
    z-index:1; 
    margin-right: 200px;
    margin-top: -28px;
    font-size:1.1em;
    text-align:right;   
}

#backD a:link, #backD a:visited
{
    color: #fff;
    text-decoration: none;
}


#logindisplay
{
    font-size:1.1em;
    text-align:right;
    margin:10px;
    color:#fff;
    position: relative;
    float: right;
    /*margin-left: 800px;*/
    margin-top: -28px;
}

#logindisplay a:link
{
    color: #fff;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: #fff;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

#tree
{
    float:left;
    color: #ddd;
    width: 200px;
    border-right : 1px solid #ddd;
    max-height: 2000px;
    margin-left: 10px;
}

.borderTree
{
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
}

.editor-label
{
    margin: 10px 0 50px 0px;
    padding-top: 5px;
}

.display-label
{
    margin: 10px 0 65px 0px;
}

.editor-field, .display-field
{
    margin: -71px 0 0px 120px;
    padding-bottom: 10px;
    width: 460px;
}

.display-field
{
    color: #5A9CF2;
    padding-left: 10px;
    margin-top: -87px;
    background: #ddd;
    width: 300px;
    min-height: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    
} 

.editor-separator
{
    margin: -81px 0 0 120px;   
    float: left; 
}

.bintang
{
    color: red;
    padding-left: 2px;    
}

.fieldR
{
    color: red;
    padding-bottom: 10px;
    margin-top: -15px;
}

.errorM
{
    color: red;
    float: left;
    margin: -20px 0 0 280px;
    position: absolute;
    width: 220px;
    font-weight: bold;
    margin: -20px 0 0 280px \9;
    position: absolute \9;
    width: 220px \9;
}
    
.t-widget, .t-link, .t-popup, .t-input
{
    color: #000;
}

#content
{
    margin-top: 0px;
    width: auto;
    /*margin-left: 255px;*/
    position: absolute;
    /*border-left: 5px solid #cacaca;*/
    padding-left: 10px;
}

#hapus
{
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;  
}

input[type="button"], input[type="submit"], button[type="button"]
{
    border-width: 1px;
    border-style: solid;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    cursor: pointer;
    background: url(image/button.png) repeat-x;
}

button[type="button"] a 
{
	color: #fff;
	text-decoration: none;
}

#PanelBar .t-header
{
    background: #DAE2E8;
    color: #000;
}

#loginPage
{
    margin-left: 330px; 
}

#loginPage fieldset
{
    width: 330px;   
}

#loginPage .editor-field
{
    width: 200px;   
}

#loginPage input[type="submit"]
{
    margin-top: -30px;  
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

/*readiness navigator*/

.info_inside_left {
    margin: 10px 0 5px 10px;
}

.info a, .info input[type="text"], .info input[readonly],.info input[type="password"] {
    padding: 5px;
}

.infoArea
{
    margin-bottom : 9px;
    font-weight:bold;
}

.infoFieldinput
{
    margin: -30px 0 0px 155px; 
}

.infoFieldinputArea
{
    margin: -30px 0 0px 45px; 
}

.infoField
{
    margin: -22px 0 0px 155px; 
}

.infoFieldbutton
{
    margin: -29px 0 0px 370px;    
}

input[readonly] {
    background-color: #EEE;
    border-width: 1px;
    border-style: solid;
}

.t-window-title{font-weight: bold;}

.help-section
{
    margin-left: 20px;    
} 

#detailField
{
    margin: 0;
    width: 280px;
}

#detailField legend
{
    font-size: 14px;    
}

#details
{
    margin-top:0px;
    font-size: 11px;
    width: 280px;
}

#detailLeft  .detail_chart, #detailRight  .detail_chart
{
    margin: 10px 10px 5px 0px;
    padding-top: 5px;
}

#detailLeft .detailField, #detailRight .detailField
{
    margin: -22px 0 0px 100px;
    margin: -22px 0 0px 110px \9;
    text-align: left;
}

#detailLeft
{
    margin-left: 0px;
}

#detailRight
{
    margin: -262px 0 0 140px;
    margin: -237px 0 0 140px \9;
    border-left: 1px solid #CCC;
    padding-left: 13px;
}

.bold{font-weight:bold;font-weight:bold \9;}
.in{padding-left: 10px; padding-left: 10px \9;}

#chartReadNav
{
    margin: -315px 0 0 335px;
    position: absolute;   
    margin: -20px 0 0 365px \9;
    position: absolute \9;  
}

#backList
{
    margin-top: -25px;
    margin-top: 10px 9;
    position: absolute;
    margin-left: 330px;   
}

.Asearch
{
    margin: 0 20px 10px 0;   
}

.titik2
{
    margin: -32px 0 10px 80px;
    position: absolute;
}

.Ainput
{
    margin: -32px 0 10px 90px;
    position: absolute;   
}

.Ainput input[type="text"]{width: 50px;/*margin-left:2px;*/}

.t-chart text
{
    text-align: left;    
}

#dashboard .speedometer 
{
    background: #f2f2f2; 
    padding: 20px 10px; 
    position: absolute; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	-webkit-box-shadow: 0 0 7px #888;
	-moz-box-shadow: 0 0 7px #888;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=135, Strength=4);
	width: 600px;
	margin-left: 10px;
	margin-top: 15px;
}

#dashboard .speedometer .legend  
{
    position: absolute; 
    top: 5px; 
    left: 5px; 
    padding: 0 5px; 
    border: 1px solid #999; 
}

#dashboard .speedometer .legend .target { color: #0f4f8e; }
#dashboard .speedometer .legend .actual { color: #f58220; }
#dashboard .speedometer .item { text-align: center; padding: 10px 0; margin-bottom:20px; -webkit-border-radius: 5px; border-radius: 5px; }
#dashboard .speedometer .region { background: #ccc; }
#dashboard .speedometer a { color: #333; }
#dashboard .speedometer a:hover, #dashboard .speedometer a.active { color: #0000ff; }

#dashboard .form-type { margin-bottom: 10px; }
#dashboard .chart { margin-bottom: 15px; -webkit-box-shadow: 1px 1px 5px #888; }
#dashboard hr { background: none; }

#plain #content #dashboard { width: 270px; }

#dashboard .action {margin-left: 10px; margin-top: -5px;}
#dashboard .action .buttons { text-align: left; margin: -24px 0 10px 425px; margin: -24px 0 10px 420px \9; position:absolute;}

.span-5
{
    width: 190px;
    float: left;
    margin-right: 10px;
}

.last {
    margin-right: 0;
}

#sidebar
{
    float: right;
    width: 300px; 
}

.history
{
    margin-top: 15px;    
}

.history .title, .ma-unit .title{margin-bottom: 5px;}

#by{margin-bottom: 10px;}

#chart{margin-top: 15px;}
#buttonSub{}


/*for mozilla*/
@-moz-document url-prefix() {
    
    #dashboard .action .buttons {text-align: left; margin: -24px 0 10px 416px;}
    
    #menu .t-item, #dash .t-item
    {
        margin-right: 0;
    }
        
    .lineLeft
    {
        border-left: 1px solid;    
        height: 950px;
        margin: -682px 0 0 410px;
    }

    .fracasLeft, .fracasRight
    {
        float:left;
    }
    
     #fracasRightEdit
    {
        margin: -770px 0 0 430px; 
    }
}

.equipment .display-field, .part .display-field, .fracas .display-field
{
    border-radius: 5px;
}

.fracas .display-label
{
   margin-left: 10px;
}

.fracas .display-field
{
   margin-left: 150px;
}

.fracasLeft, .fracasRight
{
   /*margin: -275px 0 0 500px;  */
   float: left;
}
.buttonBack
{
    margin: 10px 0 10px 10px;
    clear: both;
    float: left;    
}

.historyLeft, .historyRight
{
    /*margin: -275px 0 0 360px;   */
    float: left; 
}

.display-field textarea 
{
    background-color: transparent;    
    border: none;
    overflow: auto;
}

.history .display-field
{
    width: 190px;    
}

.history textarea
{
    width: 135px; 
    height: 100px;   
    resize: none;
}

.eventlog textarea
{
    width: 285px; 
    height: 100px;      
    resize: none;
}

.part .display-field
{
    width: 140px;
}

.equipmentLeft
{
    margin-bottom: 10px; 
    margin-top: 20px; 
}

.equipmentRight
{
    margin: -384px 0 0 500px;
    position: absolute; 
}

#PartList
{
    margin-top: 20px;
    width: 380px;   
}

.partLeft
{
    margin: -280px 0 10px 400px;
    position: absolute; 
}

#FracasEventLog, #DetailsEquipment
{
    margin-top: 20px;
    margin-bottom: 5px;
}

.partRight
{
    margin: -284px 0 0 690px;
    position: absolute; 
}

.titleChartDashboard
{
    margin-top : 10px;
    margin-bottom : 5px;    
    color: #696969;
}

.status 
{
    margin: -20px 0 10px 50px;    
}

.taFracas
{
    margin: 20px 0 0;
    width: 200px;  
    resize: none;
}

.line
{
    border-top: solid 1px;
    width: 797px;    
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .lineLeft
    {
        border-left: 1px solid;    
        height: 900px;
        margin: -613px 0 0 410px;
    }

    #fracasRight
    {
        margin: -809px 0 0 410px;   
        padding-left: 10px;
    }
    
    #fracasRightEdit
    {
        margin: -714px 0 0 410px;   
        padding-left: 10px;
    }
}

.lineLeft
{
    border-left: 1px solid;    
    height: 860px \9;
    margin: -670px 0 0 410px \9;
}

.edit
{
    height: 800px;    
}

#fracasRight
{
    margin: -830px 0 0 410px \9;   
    padding-left: 10px \9;
}

#id_immidiate, #id_long_term, #id_event_desc, #id_failure_mode, #id_failure_cause, #id_failure_effect, #id_secondary_effect, #id_severity, #id_clsss
{
    width: 178px;    
}

#datetime_stop, #datetime_ops
{
    width: 158px;    
}

.hideFracas
{
   display: none;    
}

.hideFracas .infoFieldinput
{
    margin-top: -25px;    
}

.infoFieldinput img
{
    margin: -23px 0 0 150px;
    position: absolute;
}

.infoFieldinput select
{
    width: 145px;
}

.infoFieldinput .t-datetimepicker .t-picker-wrap .t-select
{
    margin-right: -30px;
}

.infoFieldinputArea img
{
    margin: -23px 0 0 150px;
    position: absolute;
}

.infoFieldinputArea select
{
    width: 145px;
}

.infoFieldinputArea .t-datetimepicker .t-picker-wrap .t-select
{
    margin-right: -30px;
}

#batalFracas
{
    margin-left: -2px;
    margin-top: 5px;    
}

#realmod_save img
{
    margin: -20px 0 0 130px;
    position: absolute;
}

#contentRbd
{
    width: auto;
    position: absolute;
}

.area
{
    font-size: 14px;
    font-weight: bold; 
    padding-left: 13px;
}

.areaInput
{
    margin-left: 100px;    
    margin-top: -25px;
}

#ReportViewerEquipmentReportFrame, #ReportViewerPart_ReportArea_PreviewFrame
{
    /*min-width: 720px;*/
    overflow: hidden;
    min-height: 1000px;
    margin-left: 0;
    margin-top: -10px;
}

#ReportViewerEquipment, #ReportViewerPart
{
    margin-top: 17px;    
}

#text
{
    margin-top: 15px;
    margin-left : 10px;
    /*position : absolute;*/
    font-weight : bold;
    font-size : x-large;
    border-bottom: 4px solid #ff9900;
}

#bulan
{
    margin-top: -475px;
    margin-left : 10px;
    position : absolute;
    font-weight : bold;
    font-size : x-large;
}

#text2
{
    margin-top: -500px;
    margin-left : 200px;
    position : absolute;
    font-weight : bold;
    font-size : x-large;
}

#text3
{
    margin-top: -490px;
    margin-left : 200px;
    position : absolute;
    font-weight : bold;
    font-size : x-large;
}

.text1
{
    position: static;
    margin-top: 30px;
    margin-left: 200px;
    font-weight: bold;
}

#panel
{
    float:left;
    width: 260px;
    /*border-right : 1px solid #ddd;*/
    max-height: 2000px;
    margin-left: 10px;
}

    
#gauge
{
    position: relative;
    margin-top: -503px;
    margin-left: 64px; 
    z-index: -10;  
}

.chart{margin-top: 10px;}

/*untuk new*/
.longField input
{
    margin-left: 110px;  
}

.longField .t-datetimepicker
{
    margin-left: 30px;  
}

.info_new_left {
    margin: 10px 0 5px 10px;
}

.infoArea
{
    margin-bottom : 9px;
    font-weight:bold;
}

.infonewinput
{
    margin: -25px 0 0px 155px; 
}

.infonewinputArea
{
    margin: -30px 0 0px 45px; 
}

/*
textarea {
        width: 300px;
        height: 300px;
        scrollbar-base-color: #ff8c00;
        scrollbar-arrow-color: white;
        background: #ddd;
        position : absolute;
        margin-top : -415px;
        margin-left : 650px;
}
*/

.addContent
{
    background: #dcdcdc;   
    padding: 20px;  
    min-height: 430px;
}

.addImage, addInfo
{
    float:left;    
}

.addField
{
    margin-left: 350px;
    background: #f5f5f5;
    padding: 10px;
    border: #666a6d double;
}

.infoAbove
{
    border: 2px solid #666a6d;
    margin-bottom: 20px; 
    text-align: center;
    margin-left: 350px;
}

.white{background: #fff;}
.blue{background: #eff3fc;}

.addSubmit
{
    float: right;
    margin-top: 20px; 
}

.availableTA, .chosenTA
{
    float: left;
    /*margin-left: 20px;*/
    width: 284px;
    border: 1px solid #ddd; 
    padding: 3px;
}
.center
{
    text-align: center;    
}

#insert
{
    float: right;
    margin-top: -20px; 
}

.charter textarea, .comment textarea
{
    width: 575px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.availableTA
{ 
    overflow: auto;
}

.borderTA
{
    border: 1px solid #ddd;
    padding: 10px;    
    margin-top: 5px;
}
/*.addSubmit input[type="button"], .addSubmit input[type="submit"] 
{
    color: #fd740a;  
    background: url(image/button-01.png);
}*/

/*table di halaman pir*/
.pir
{
    border-collapse: collapse;  
    width: 1000px;  
}
.pir tr td
{
    border: 1px solid #bbb;
}
table div.rotated {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  writing-mode:tb-rl;
  white-space: nowrap;
  vertical-align: middle;
  margin-top: 58px;
  margin-left: 15px;
  font-size: 15px;
}   
 
table .vertical {
  white-space: nowrap;
  width: 46px;
  max-width: 46px;
}

.fitRotated
{
    /*height: 81px; */
    max-width: 30px;    
}

.tdWidth
{
    max-width: 500px;
    min-width: 100px;    
}

.file_input_textbox
{
	float: left;
	width:100px;
}

.file_input_div
{
  position: relative; 
  width: 55px; 
  height: 30px; 
  overflow: hidden;
}

.file_input_button
{
	width: 50px; 
	position: absolute; 
	top: 0px;
	background-color: #BBB;
	color: #FFFFFF;
	border-style: solid;
	margin-left:5px;
}

.file_input_hidden
{
  font-size: 23px; 
  position: absolute; 
  right: 0px; 
  top: 0px;
  opacity: 0; 
  
  filter: alpha(opacity=0); 
	-ms-filter: "alpha(opacity=0)"; 
	-khtml-opacity: 0; 
	-moz-opacity: 0;
}

.bold
{
    font-weight: bold;   
}

.underline
{
    text-decoration: underline;    
}

.blues
{
    background: #d1d9dc;    
}

.bluess
{
    background: #e7f1f3;
}

#improvement_request
{
    overflow: auto;
    width: 560px;
    height: 120px;    
    text-align: left;
    resize: none;
}

#result_of_action,#desc_prob
{
    overflow: auto;
    width: 940px;
    height: 90px;    
    text-align: left;
    resize: none;
}



#description
{
    overflow: auto;
    width: 996px;
    height: 84px;    
    text-align: left;
    resize: none;
}

#verified_desc
{
    overflow: auto;
    width: 920px;
    height: 84px;    
    text-align: left;
    resize: none;
}

#EditPaf .t-header, #AddTarget .t-header {background: #ddd;}
.loadSubmit
{
    display: none;   
    margin: -23px 0 0 70px;
    position: absolute;
}

.tab_konten
{
    height : 390px;    
}

#improvement_plan
{
    overflow: auto;
    width: 540px;
    height: 120px;    
    text-align: left;
    resize: none;
}

::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(180,180,180,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

#left-content
{
    float : left;
    width : 49%;
    
}

#right-content
{
    float : right;
    width : 50%;
    
}

#left-content .content
{
   padding-right : 20px;
   padding-bottom :20px;
}

#right-content .content
{
    padding-bottom :20px;
   /*padding-left : 10px;*/
}

.form-actions
{
    margin-top:10px;    
}

/*window pop up*/
.t-window-titlebar.t-header
{
    background:#DAE2E8;    
}


/* new menu area */
.menu-area {
    position:fixed;
    bottom:0%;
    margin-top: 20px;
    padding: 10px 20px 30px;
    background-color: #372D25;
    display: table;
    width: 100%;
}

.menu-area .menu {
    float:left;
    width: 11.111111111%;
    height: auto;
    text-align:center;
    display:inline-block;
    font-weight:normal;
    padding-top: 20px;
}

.menu-area .menu:hover>a {
    font-weight:bold;
    text-decoration:none;
    color:#fff;
}

.menu-area .menu:hover .menu-text {
    font-weight:bold;
    text-decoration:none;
    color:#fff;
}

.menu-area .menu .menu-text {
    font-family: 'PT Sans';
    font-weight:normal;
    font-size: 12px;
    display: block;
    text-align:center;
    text-decoration:none;
    color:#fff;
}

.menu-area .toggle-button {
    position: absolute;
    left:50%;
    top:-15px;
}

.lucky-winner {
    margin: 20px 0;
    display:table;
    width: 100%;
    font-family:'PT Sans';
    color: #fff;
    font-size:14px;
    margin-bottom: 150px;
}

.lucky-winner .lucky-winner-title-area {
    display:table-cell;
    width: 40%;
    vertical-align:middle;
}

.lucky-winner .lucky-winner-title {
    line-height:1.6;
    margin: 0;
    font-size:18px;
}

.lucky-winner .lucky-winner-title-area p {
    line-height:1.6;
    margin: 0;
    font-size:14px;
}

.lucky-winner .lucky-winner-area {
    display:table-cell;
    width: 60%;
    vertical-align:middle;
}

.lucky-winner .lucky-winner-area ul {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
    list-style:circle;
    margin:0;
}

.lucky-winner .lucky-winner-area ul > li > span {
    margin-top:3px;
}

.kpi-area {
    margin: 50px 0;
    display: table;
    width: 100%;
    font-family: 'PT Sans';
}

.kpi-area .kpi-div { float: left; width: 48%; margin-right: 4%; }
.kpi-area .kpi-div:nth-last-child(2n) { margin-right: 0; }

/*
.kpi-div:first-child {
    float:left;
    width: 48%;
    margin-right: 2%;
    display:table;
}

.kpi-div:last-child {
    float:left;
    width: 48%;
    margin-left: 2%;
    display:table;
}
*/

.kpi-div .kpi-criteria {
    display:table-cell;
    background-color:rgba(255,255,255,0.7);
    color: #000;
    font-size: 14px;
    vertical-align: middle;
    width: 200%;
    padding: 10px 10px;
    border:1px #E4765F solid;
    border-collapse:collapse;
}

.kpi-div .margin-area {
    margin: 2px;
}

.kpi-div .kpi-result {
    display:table-cell;
    background: #fff;
    color: #000;
    width: 25%;
    vertical-align: middle;
    font-size: 32px;
    font-family: 'Bebas Neue';
    padding: 5px 15px;
    border:1px #E4765F solid;
    border-collapse:collapse;
}

.notification-area {
    margin: 50px 0;
    display:block;
    width: 100%;
    font-family: 'PT Sans';
}

.notification-header {
    display:block;
    font-size:24px;
    font-weight:bold;
    background: #fff;
    color: #808083;
    padding: 5px 10px;
}