@model IEnumerable<StarEnergi.Models.foc_op_avail>
@{ 
   int i = 0; 
   foreach (StarEnergi.Models.foc_op_avail item in Model)
   {
       if((i % 3) == 0){ 
           <div class="item span-5 last">
	            @{Html.RenderPartial("_speedometerSinglePof", item);}
            </div>
        }else{
            <div class="item span-5">
	            @{Html.RenderPartial("_speedometerSinglePof", item);}
            </div>
        }
       i++;
   }
}