@model StarEnergi.Models.component

@{
    ViewBag.Title = "Details";
}
<script type="text/javascript">
    function edit() {
        $('#content').load('component/edit/'+ @Model.id);
    }
</script>
<h2>Details</h2>

<fieldset>
    <legend>Component</legend>

    <div class="display-label">No Key Map</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tag_number)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <p>
        <input type="button" value="Edit" onclick="edit()" />
    </p>
</fieldset>
