@{
    Layout = null;
}
<style>
    .t-grid .t-grid-header .t-header,
    .t-grid .t-grid-header .t-last-header {
        white-space: normal;
    }
</style>
<h2 style="margin-bottom:5px;">She Observation Lucky Draw<br />Winner of All Periods</h2>
<input type="button" id="back" value="Back" onclick="back()" style="margin-top:-10px;margin-bottom:7px;"/>
@( 
 Html.Telerik().Grid<StarEnergi.Models.she_observation_undian>()
        .TableHtmlAttributes(new { style = "width:980px" }).HtmlAttributes(new { style = "width:980px" })
        .Name("SheObservationWinner")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("_SelectAjaxUndian", "Undian");
        })
        .Columns(columns =>
        {
            columns.Bound(o => o.id).Hidden();
            columns.Bound(o => o.from_period).Width(160).Title("Period (From)");
            columns.Bound(o => o.to_period).Width(160).Title("Period (To)");
            columns.Bound(o => o.winner_name_1).Width(220).Title("Winner 1");
            columns.Bound(o => o.winner_name_2).Width(220).Title("Winner 2");
            columns.Bound(o => o.winner_name_3).Width(220).Title("Winner 3");
        })
        .Pageable(p => p.PageSize(15))
        .Sortable()
        .Scrollable(c => c.Enabled(true))
        .Selectable()
        .Filterable()
        .Groupable()
)
<script type="text/javascript">
    function back() {
        window.location = "/Undian";
    }
</script>
