@model IEnumerable<StarEnergi.Models.FracasEventModel>
   
<script type="text/javascript">
    function openChooser(id) {
        $('#Window').data('tWindow').center().open();
        document.getElementById('ids').value = id;
    }

    function OnRowDataBoundP(e) {
        var dataItem = e.dataItem;
        var row = e.row;
        var templateComplete = '<a class="t-button t-grid-fracasedit t-button-icon t-button-icon t-ajax" onClick="ViewP(' + dataItem.id + ');" title="View">'
                                + '<span class="t-icon t-edit"></span>'
                                + '</a>';
        var templateUnComplete = '<a class="t-button t-grid-fracasedit t-button-icon t-button-icon t-ajax" onClick="EditP(' + dataItem.id + ');" title="Edit">'
                                + '<span class="t-icon t-edit"></span>'
                                + '</a>'
                               //+ '<a class="t-button t-grid-delete t-button-icon t-button-icon" href="#">'
                               //+ '<span class="t-icon t-delete"></span>'
                               //+ '</a>'
                                + '<a class="t-button t-grid-selesai t-button-icon t-button-icon" onClick="CompleteP(' + dataItem.id + ');">'
                                + '<span class="t-icon t-complete"></span>'
                                + '</a>'
                                + '<a class="t-button t-grid-selesai t-button-icon t-button-icon" onClick="Complete(' + dataItem.id + ');">'
                                + '<span class="t-icon t-create"></span>'
                                + '</a>'
                                + (dataItem.id_ir == null ? '<a class="t-button t-grid-selesai t-button-icon t-button-icon" title="Add Incident Report" onClick="AddIRP(' + dataItem.id + ');">'
                                + '<span class="t-icon t-ir"></span>'
                                + '</a>' : '')
                                + (dataItem.id_tsr == 0 || dataItem.id_tsr == "null" ? '<a class="t-button t-grid-selesai t-button-icon t-button-icon" title="Add Trouble Shooting Report" onClick="AddTSRP(' + dataItem.id + ');">'
                                + '<span class="t-icon t-tsr"></span>'
                                + '</a>' : '');
        var templateRepair = '<a class="t-button t-grid-fracasedit t-button-icon t-button-icon t-ajax" onClick="EditP(' + dataItem.id + ');">'
                                + '<span class="t-icon t-edit"></span>'
                                + '</a>'
                                + (dataItem.id_ir == null ? '<a class="t-button t-grid-selesai t-button-icon t-button-icon" title="Add Incident Report" onClick="AddIRP(' + dataItem.id + ');">'
                                + '<span class="t-icon t-ir"></span>'
                                + '</a>' : '')
                                + (dataItem.id_tsr == 0 || dataItem.id_tsr == "null" ? '<a class="t-button t-grid-selesai t-button-icon t-button-icon" title="Add Trouble Shooting Report" onClick="AddTSRP(' + dataItem.id + ');">'
                                + '<span class="t-icon t-tsr"></span>'
                                + '</a>' : '');
                                //+ '<a class="t-button t-grid-delete t-button-icon t-button-icon" href="#">'
                                //+ '<span class="t-icon t-delete"></span>'
                                //+ '</a>';

        if (dataItem.status == 1) {
            row.cells[10].innerHTML = templateComplete;
        } else {
            row.cells[10].innerHTML = templateUnComplete;
        }

        if (dataItem.dateTimeStart == null) {
            row.cells[10].innerHTML = templateRepair;
        }

        if (dataItem.id_ir != null) {
            row.cells[8].innerHTML = '<a onclick="toIRP(' + dataItem.id_ir + ')">' + dataItem.ir_number + '</a>';
        }

        if (dataItem.id_tsr != 0) {
            row.cells[9].innerHTML = '<a onclick="toTSRP(' + dataItem.id_tsr + ')">' + dataItem.tsr_number + '</a>';
        } else {
            row.cells[9].innerHTML = '';
        }

    }

    function toRcass() {
        var radios = document.getElementsByName('choose');
        var val = -1;
        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                val = radios[i].value;
            }
        }
        window.location = 'RCA/addRCA?isTree=' + val;
    }

    function CompleteP(id) {
        var r = confirm("Anda yakin event sudah selesai?");
        if (r) {
            $.post("Fracas/CompleteP/" + id, function (data) {
                var grid = $('#fracasPart').data('tGrid');
                grid.ajaxRequest();
            });
        }
    }

    function ViewP(id) {
        $('#content').load('Fracas/ViewEventP', { 'id': id });
    }

    function EditP(id) {
        $('#content').load('Fracas/EditEventP', { 'id': id });
    }

    function toIRP(id) {
        $('#content').load('Incident/addIncident', { 'id': id });
    }

    function toTSRP(id) {
        $('#content').load('TroubleShooting/addTroubleShooting', { 'id': id });
    }

    function AddIRP(id) {
        $('#content').load('Incident/addIncident', { 'id_fracas_part': id });
    }

    function AddTSRP(id) {
        $('#content').load('TroubleShooting/addTroubleShooting', { 'id_ir': id });
    }
</script>   
           
@(Html.Telerik().Grid<StarEnergi.Models.FracasEventModel>()
        .HtmlAttributes(new { style = "width:980px" })
        .Name("fracasPart")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Delete("_DeleteAjaxEditingPart", "Fracas")
                .Update("_UpdateAjaxEditingPart", "Fracas")
                .Select("_SelectAjaxEditingPart", "Fracas");         
        })
        .Columns(columns =>
        {
            columns.Bound(o => o.id).Hidden();
            columns.Bound(o => o.status).Hidden();
            columns.Bound(o => o.dateTimeStop).Width(110).Title("Date/Time Stop");
            columns.Bound(o => o.dateTimeStart).Width(110).Title("Date/Time Ops");
            columns.Bound(o => o.durasi).Width(60).Title("Durasi");
            columns.Bound(o => o.downtime).Width(75).Title("Downtime");
            columns.Bound(o => o.tagNumber).Width(105).Title("Tag Num");
            columns.Bound(o => o.eventDesc).Width(115).Title("Events");
            columns.Bound(o => o.id_ir).Width(155).Title("IR Number");
            columns.Bound(o => o.id_tsr).Width(155).Title("TSR Number");
            columns.Command(commands =>
            {
                commands.Delete().ButtonType(GridButtonType.BareImage);

            }).Width(160).Title("Action").HtmlAttributes(new { style = "text-align: center" });

        })
        .ClientEvents(
            events => events
                .OnRowDataBound("OnRowDataBoundP")
        )
        .Pageable(p => p.PageSize(10))
        .Sortable()
        .Filterable()
        .Scrollable(c => c.Enabled(true).Height(200))
        .Selectable()
) 