@model IEnumerable<StarEnergi.Models.FracasEventModel>

<script type="text/javascript">
    function openChooser(id) {
        $('#Window').data('tWindow').center().open();
        document.getElementById('ids').value = id;
    }

    function OnRowDataBoundEq(e) {
        var dataItem = e.dataItem;
        var row = e.row;
        var templateComplete = '<a class="t-button t-grid-fracasedit t-button-icon t-button-icon t-ajax" title="View" onClick="View(' + dataItem.id + ');">'
                                + '<span class="t-icon t-view-2"></span>'
                                + '</a>';
        var templateUnComplete = '<a class="t-button t-grid-fracasedit t-button-icon t-button-icon t-ajax" title="Edit" onClick="Edit(' + dataItem.id + ');">'
                                + '<span class="t-icon t-edit"></span>'
                                + '</a>'
                                //+ '<a class="t-button t-grid-delete t-button-icon t-button-icon" title="Delete" href="#">'
                                //+ '<span class="t-icon t-delete"></span>'
                                //+ '</a>'
                                + (dataItem.id_ir == null ? '<a class="t-button t-grid-selesai t-button-icon t-button-icon" title="Add Incident Report" onClick="AddIR(' + dataItem.id + ');">'
                                + '<span class="t-icon t-ir"></span>'
                                + '</a>' : '')
                                + (dataItem.id_tsr == 0 ? '<a class="t-button t-grid-selesai t-button-icon t-button-icon" title="Add Trouble Shooting Report" onClick="AddTSR(' + dataItem.id + ');">'
                                + '<span class="t-icon t-tsr"></span>'
                                + '</a>' : '')
                                + '<a class="t-button t-grid-selesai t-button-icon t-button-icon" title="Complete" onClick="Complete(' + dataItem.id + ');">'
                                + '<span class="t-icon t-complete"></span>'
                                + '</a>';
        var templateRepair = '<a class="t-button t-grid-fracasedit t-button-icon t-button-icon t-ajax" title="Edit" onClick="Edit(' + dataItem.id + ');">'
                                + '<span class="t-icon t-edit"></span>'
                                + '</a>'
                                + (dataItem.id_ir == null ? '<a class="t-button t-grid-selesai t-button-icon t-button-icon" title="Add Incident Report" onClick="AddIR(' + dataItem.id + ');">'
                                + '<span class="t-icon t-ir"></span>'
                                + '</a>' : '')
                                + (dataItem.id_tsr == 0 ? '<a class="t-button t-grid-selesai t-button-icon t-button-icon" title="Add Trouble Shooting Report" onClick="AddTSR(' + dataItem.id + ');">'
                                + '<span class="t-icon t-tsr"></span>'
                                + '</a>' : '');
                                //+ '<a class="t-button t-grid-delete t-button-icon t-button-icon" title="Delete" href="#">'
                                //+ '<span class="t-icon t-delete"></span>'
                                //+ '</a>';

        if (dataItem.status == 1) { //complete
            row.cells[10].innerHTML = templateComplete;
        } else if (dataItem.status == 0) { //uncomplete
            row.cells[10].innerHTML = templateUnComplete;
        }

        if (dataItem.dateTimeStart == null) {
            row.cells[10].innerHTML = templateRepair;
        }

        if (dataItem.id_ir != null) {
            row.cells[8].innerHTML = '<a onclick="toIR(' + dataItem.id_ir + ')">' + dataItem.ir_number + '</a>';
        }

        if (dataItem.id_tsr != 0) {
            row.cells[9].innerHTML = '<a onclick="toTSR(' + dataItem.id_tsr + ')">' + dataItem.tsr_number + '</a>';
        } else {
            row.cells[9].innerHTML = '';
        }

    }

    function Complete(id) {
        var r = confirm("Anda yakin event sudah selesai?");
        if (r) {
            $.post("Fracas/CompleteEq/"+id, function (data) {
                var grid = $('#fracasEquipment').data('tGrid');
                grid.ajaxRequest();
            });
        }
    }

    function toRcas(id) {
        //var radios = document.getElementsByName('choose');
        //var id = document.getElementById('ids').value;
        //var val = -1;
        //for (var i = 0, length = radios.length; i < length; i++) {
        //    if (radios[i].checked) {
        //        val = radios[i].value;
        //    }
        //}

        $.ajax({
            type: "POST",
            url: "@Url.Action("getCode", "Fracas")",
                traditional: true,
                data: { id: id },
                success: function (data) {
                    window.location = 'RCA/addRCA?id_eq=' + data.id_equip + '&i=' + data.id;
                }
        });
        
    }

    function Edit(id) {
        $('#content').load('Fracas/EditEvent', {'id':id});
    }

    function View(id) {
        $('#content').load('Fracas/ViewEvent', { 'id': id });
    }

    function toIR(id) {
        $('#content').load('Incident/addIncident', { 'id': id });
    }

    function toTSR(id) {
        $('#content').load('TroubleShooting/addTroubleShooting', { 'id': id });
    }

    function AddIR(id) {
        $('#content').load('Incident/addIncident', { 'id_fracas': id });
    }

    function AddTSR(id) {
        $('#content').load('TroubleShooting/addTroubleShooting', { 'id_ir': id });
    }

</script>
<style>
    .t-rca {
        background-image:url("/Content/image/add_rca.png");
    }

    .t-tsr {
        background-image:url("/Content/image/add_tsr.png");
    }

    .t-ir {
        background-image:url("/Content/image/add_ir.png");
    }

    .t-view-2 {
        background-image:url("/Content/image/view-2.png");
    }
</style>
@( 
    Html.Telerik().Grid<StarEnergi.Models.FracasEventModel>()
        .HtmlAttributes(new { style = "width:980px" })
        .Name("fracasEquipment")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Update("_UpdateAjaxEditingEquipment", "Fracas")
                .Delete("_DeleteAjaxEditingEquipment", "Fracas")
                .Select("_SelectAjaxEditingEquipment", "Fracas");         
        })
        .Columns(columns =>
        {
            columns.Bound(o => o.id).Hidden();
            columns.Bound(o => o.status).Hidden();
            columns.Bound(o => o.dateTimeStop).Width(110).Title("Date/Time Stop");
            columns.Bound(o => o.dateTimeStart).Width(110).Title("Date/Time Ops");
            columns.Bound(o => o.durasi).Width(60).Title("Durasi");
            columns.Bound(o => o.downtime).Width(75).Title("Downtime");
            columns.Bound(o => o.tagNumber).Width(105).Title("Tag Num");
            columns.Bound(o => o.eventDesc).Width(115).Title("Events");
            columns.Bound(o => o.id_ir).Width(155).Title("IR Number");
            columns.Bound(o => o.id_tsr).Width(155).Title("TSR Number");
            columns.Command(commands =>
            {
                commands.Delete().ButtonType(GridButtonType.BareImage);
            }).Width(160).Title("Action").HtmlAttributes(new { style = "text-align: center" });

        })
        .ClientEvents(
            events => events
                .OnRowDataBound("OnRowDataBoundEq")
        )
        .Pageable(p => p.PageSize(10))
        .Sortable()
        .Filterable()
        .Scrollable(c => c.Enabled(true).Height(200))
        .Selectable()
        .Resizable(resizing => resizing.Columns(true))
)



@{  Html.Telerik().Window()
        .Name("Window")
        .Title("Choose Analysis Type")
        .Content(@<text>
                <input name="ids" id="ids" type="hidden" value="" />
                <input name="choose" type="radio" value="1" checked/>Tree Diagram
                <input name="choose" type="radio" value="0" />5 - Why
                <input name="choose" type="radio" value="2" />Fishbone Diagram
                <br />
                <div class="form-actions">
                    <input type="button" onclick="toRcas()" value="Go!" />
                </div>
            </text>)
        .Width(400)
        .Draggable(true)
        .Modal(true)
        .Visible(false)
        .Render();
}
